body {
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  background-color: rgb(253, 253, 253);

  height: 100svh;

  display: grid;
  grid-template-rows: max-content 1fr;
}

body > *:nth-child(2) {
  padding: 1rem;
}
