.navbar {
  font-size: 1.05rem;
  text-decoration: none;
  background-color: rgb(32, 32, 32);
  display: grid;
  justify-content: left;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-items: center;
}

.navbar > a {
  padding: 0.7rem 0.7rem;
  color: rgb(245, 245, 245);

  text-decoration: none;
}
